@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,300;0,400;0,700;1,900&display=swap');

@font-face{
    font-family: 'CompactaBT';
    src: url(./fonts/CompactaBT.ttf);
}

::selection{
    color: #2B443C;
    background: #CFFF4F
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Be Vietnam Pro', sans-serif;
    scroll-behavior: smooth;
}

h1{
    font-family: 'CompactaBT';
    font-stretch: condensed;
    font-weight: 800;
}

html,body{
    max-width: 100%;
    overflow-x: hidden;
    letter-spacing: -0.1em;
    
}

body {
    background-color: #242424;
}

.row{
    margin: 0 10em;
    max-width: 1200px;
    display: flex;
    align-items: left;
    flex-direction: column;   
    padding: 2em 5em;
}

.row--cta{
    margin: 0 10em;
    max-width: 1200px;
    display: flex;
    align-items: left;
    flex-direction: row;
    white-space: nowrap;
    padding: 2em 5em;
}

.cta__row{
    max-width: 1800px;
    margin: 0em 10em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 5em 10em;
}

/* Nav Links */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: left;
    height: 3em;

}

.nav__links {
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-evenly;
}

.nav__link {
    padding: 12px 2em;
    list-style-type: none;
    font-size: 2em;
}

a {
    text-decoration: none;
}

a:active {
    transform: translateY(3px);
}

.donate {
    padding: 0.5em 2em;
    display: flex;
    align-items: center;
    border: 1px solid rgb(226, 52, 52);
    background-color: rgb(226, 52, 52);
    border-radius: 10em;
    font-size: 2em;
}

.donate:hover{
    background-color: #b8e256;
    border: 1px solid #b8e256;
    color: black;
    transition: all 300ms ease-in-out;
}


/* Header */
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    background-image: linear-gradient(to bottom, rgba(2, 2, 2, 0), rgba(12, 12, 12, 0.918)),
        url('');
    background-size: cover;
    max-height: 100em;
    height: 60em;
    margin: 0;
    background-repeat: no-repeat;
    flex-wrap: wrap;

}



.logo {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.logo__wrapper {
    display: flex;
    flex-direction: row;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    max-height: 70em;
    opacity: 90%;
    z-index: -1;
    object-position: center;
    object-fit: cover;
  }



button:active {
    transform: translateY(1px);
}

.header__image {
    position: absolute;
    z-index: 1;
}

.header__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}


.header__text {
    font-size: 10em;
    min-width: 480px;
    font-weight: 100;
    text-align: left;
}

.main-header-text {
    min-width: 480px;
    font-size: 13em;
    font-weight: 800;
    text-align: left;
}


.header__subtext {
    min-width: 480px;
    font-weight: 400;
    font-size: 2.5em;
    text-align: left;
}

.earth__text {
    color: rgb(171, 214, 171);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(171, 214, 171);
}

/* Call To Action Section */

#cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    height: 40em;
    padding: 0em 2em;
    background-color:#2B443C;
    word-wrap: break-word;
}

.cta__header--text{
    padding: 0em;
    font-family: 'Be Vietnam Pro', san-serif;
    color: #CFFF4F;
    font-size: 3.5em;
    font-weight: 300;
}

.cta__header--bold{
    font-family: 'Be Vietnam Pro', san-serif;
    color: #86bd9e;
    text-decoration: underline;
}

.btn__rainforest{
    max-width: 15em;
    min-width: 10em;
    background-color: rgba(0,0,0,0);
    color: white;
    margin: 1.5em 0em;
    font-size: 1.5em;
    border-radius: 100px;
    border: 1px solid white;
    padding: 1em 1.5em;
    transition: all 200ms ease-in-out
}

button:hover{
    background-color: #e25656;
    border: 1px solid #e25656;
    color: white;
}

/* Rainforest Section */

#rainforest{
    height: 80em;
    max-height: 100%;
    max-width: 100%;

}


.rainforest__header--bar{
    display: flex;
    align-items: center;
    height: 15em;
    width: 100%;
    max-height: 100%;
    background-color: #CFFF4F;
}

.rainforest__header--text{
    color: #2B443C;
    font-size: 7em;
}

#rainforest__3--sections{
    display: flex;
    flex-direction: row;
    background-size: cover;
    opacity: 100%;
    position: relative;
    z-index: 1;
}

.rainforest__3--slide:hover .icon{
    transform: translateY(12em) rotate(45deg);
    transition: all 300ms ease-in-out;
}

.rainforest__3--slide .communities-para, .rainforest__3--slide .rainforest-para, .rainforest__3--slide .climate-action-para{
    opacity: 0;
    display: none;
}





.communities:hover{
    background-color: #FF464F;
    width: 120vw;
}

.rainforests:hover{
    background-color: #a0acf7;
    width: 120vw;
}

.climate__action:hover{
    background-color: #d3f259;
    width: 120vw;
}


.rainforest__3--slide{
    display: flex;
    padding: 7em 0em 0em 3em;
    flex-direction: column;
    max-width: 100%;
    width: 100%;    
    height: 65em;
    background-color: rgba(0,0,0,0);
    border-right: 0.25rem solid #fff;
    width: (100% / 3);
    transition: all 300ms ease-in-out;
}

.icon{
    position: absolute;
    top: 20%;
    padding: 0.5em;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 50%;
    width: 2em;
    height: 2em;  
    transition: all 300ms ease-in-out;    
    
}



.rainforest__3--background{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -2;
}

.rainforest-3-background-image{
    transition: all 300ms ease-in-out;
    filter: brightness(50%);
    opacity: 1;
    background-color: black;
    flex: 0 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
}


.rainforest-3-background-image img{
    opacity: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;

}

.rainforest__3--slide h1{
    font-size: 5em;
}

.communities-text{
    font-weight: 100;
}

.communities-para, .climate-action-para, .rainforest-para{
    opacity: 0;
    transition: 300ms ease-in;
    padding: 2em 4em 2em 0em;
    font-size: 1.8em;
}


/* KEY STATS SECTION */

#key-stats{
    background-color: #2B443C;
    height: 200em;
}


#updates{
    background-color: #FDF2CD;
    height: 200em;
}

#key-stats h1{
    margin-top: 36px;
    font-size: 12em;
}

@media (max-width: 999px){
    #header{
        display: flex;
        flex-wrap: wrap;
        align-items: left;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        margin: 2em 0em;
    }

    .row{
        padding: 0;
        margin: 0 2em;

    }

}




@media (max-width: 768px) {
    #header {
        background-size: cover;
    }

    .rainforest__3--sections{
        display: flex;
        flex-direction: column;
        border-right: 0.125rem solid #fff;
    }
}

/* Small Phones */
@media (max-width: 480px) {
    h1 {
        font-size: 1em;
    }

    #cta{
        height: 18em;
    }
    
    .cta__header--text{
        font-size: 1.5em;
    }

    .btn_rainforest{
        font-size: 1em;
    }
}
