@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,300;0,400;0,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Be Vietnam Pro', sans-serif;
    scroll-behavior: smooth;
}

html,body{
    max-width: 100%;
    overflow-x: hidden;
    letter-spacing: -0.1em;
    
}

body {
    background-color: #242424;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 5em 2em;
    margin: 0 auto;
}

/* Nav Links */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: left;
    
    height: 50px;

}

.nav__links {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-evenly;
}

.nav__link {
    padding: 12px 36px;
    list-style-type: none;
    font-size: 1em;
}

a {
    text-decoration: none;
}

a:active {
    transform: translateY(3px);
}

.donate {
    padding: 0.5em 2em;
    display: flex;
    align-items: center;
    border: 1px solid rgb(226, 52, 52);
    background-color: rgb(226, 52, 52);
    border-radius: 10em;
    font-size: 1em;
}

.donate:hover{
    background-color: #b8e256;
    border: 1px solid #b8e256;
    color: black;
    transition: all 300ms ease-in-out;
}


/* Header */
#header {
    background-image: linear-gradient(to bottom, rgba(2, 2, 2, 0), rgba(12, 12, 12, 0.918)),
        url('');
    background-size: cover;
    max-height: 1150px;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    word-wrap: break-word

}



.logo {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.logo__wrapper {
    display: flex;
    flex-direction: row;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    opacity: 90%;
    z-index: -1;
    object-position: center;
    object-fit: cover;
  }



button:active {
    transform: translateY(1px);
}

.header__image {
    position: absolute;
    z-index: 1;
}

.header__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 2em 0em;
    width: 80%;
}


.header__text {
    display: flex;
    width: 50%;
    color: white;
    position: relative;
    text-align: left;
    z-index: 2;
    font-size: 4.9em;
    font-weight: 800;
    line-height: 1.5em;
    -webkit-text-stroke-width: 1.5px;
    text-shadow: 1px 1px 1px #000000,
        1px 2px 1px #000000,
        1px 3px 1px #000000,
        1px 4px 1px #000000,
        1px 5px 1px #000000,
        1px 6px 1px #000000,
        1px 7px 1px #000000,
        1px 8px 1px #000000,
        1px 9px 1px #000000,
        1px 10px 1px #000000,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

.header__subtext {
    margin: 2em 0em;
    font-weight: 400;
    font-size: 1.5em;
    text-align: left;
}

.earth__text {
    color: rgb(171, 214, 171);
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(171, 214, 171);
}

/* Call To Action Section */

#cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    height: 18em;
    padding: 0em 0em;
    background-color:#2B443C;
    word-wrap: break-word;
}

.cta__header--text{
    padding: 0em;
    color: #CFFF4F;
    font-size: 2em;
    font-weight: 300;
}

.cta__header--bold{
    color: #86bd9e;
    text-decoration: underline;
}

.btn__rainforest{
    background-color: #CFFF4F;
    color: #1c1d1a;
    margin: 1.5em 0em;
    font-size: 1.5em;
    border-radius: 100px;
    border: 1px solid #CFFF4F;
    padding: 0.5em 1.5em;
    transition: all 200ms ease-in-out
}

button:hover{
    background-color: #e25656;
    border: 1px solid #e25656;
    color: white;
}

/* Rainforest Section */

#rainforest{
    height: 35em;
    max-height: 100%;
    max-width: 100%;
}

.rainforest__header--bar{
    display: flex;
    align-items: center;
    height: 10em;
    width: 100%;
    max-height: 100%;
    background-color: #CFFF4F;
}

.rainforest__header--text{
    padding: 0em 0.5em;
    color: #2B443C;
    letter-spacing: -0.1em;
    font-size: 5em;
}

.rainforest__3--sections{
    display: flex;
    flex-direction: row;
}

.rainforest__3--slide{
    max-width: 100%;
    width: 100%;    
    height: 30em;
    background-color: #2B443C;
    border: 1px solid black;
    width: (100% / 3);
}

.communities{

}

.rainforests{

}



@media (max-width: 768px) {
    #header {
        background-size: cover;
    }
}

/* Small Phones */
@media (max-width: 480px) {
    h1 {
        font-size: 1em;
    }

    #cta{
        height: 18em;
    }
    
    .cta__header--text{
        font-size: 1.5em;
    }

    .btn_rainforest{
        font-size: 1em;
    }
}